.idea*
env
inventory
artifacts
*.key

/latestDockerImageUploadTag
/masterNode
/workerNodes
/results
/kubernetes/hosts
/kubernetes/test.yml
/kubernetes/kafka/docker/.gradle
/kubernetes/kafka/docker/kafka_2.12-3.3.1
/kubernetes/kafka/docker/kafka-producer/.gradle
/kubernetes/kafka/docker/kafka-producer/build
/kubernetes/hosts
/kubernetes/test.yml
__pycache__/
pgf_parameters.pkl
/kubernetes/playbooks/kubernetes_join_command
/kubernetes/ansible.cfg
/pgf-env
/pgf-env.alternative
/learningNodeMetrics
/learningNodes
/learningNodesDeleteExistings
/learningNodesNoJoins
/learningNodeTrainingSets
